:root{
    --body-family: 'Inter';
    font-family: var(--body-family);
   }

   body{
        margin:0;
        width: 100%;
        
   }

   a{
         color: black;
         font-family: var(--body-family);
   }

   h1 h2 h3{
         font-family: "HelveticaNeue";
   }

   #button1{
         color: white;
         font-size: 14px;
         background-color: black;
         border: none;
         border-radius: 5px;
         position: absolute;
         width: 140px;
         height: 41px;
         cursor: pointer;
   }

   #button2{
         color: black;
         font-size: 14px;
         background-color: white;
         border: 1px solid #000000;
         border-radius: 20px;
         width: 190px;
         height: 41px;
         cursor: pointer;
   }

   .button2position{
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
   }


   .logo a{
         padding-right: 390px;
         padding-left: 5px;
         font-family: Helvetica ; 
         font-weight: 700; 
         font-size: 28px; 
         text-decoration: none;
   }

   .navcontainer{
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
   }

   .nav{
         color: black;
         display: inline;     
            
   }

   nav ul{
         display: inline;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right:60px;
         padding-top:30px; 
         padding-bottom: 30px;
         background-color: #ffffff;
         position: fixed; 
         z-index: 99 ;
         width: 100%;
   }

   nav ul li{
         display: inline-block;
         padding: 5px 20px;

         margin: 0;
 
   }

   nav ul li a {
         font-size: 12px;
         text-decoration: none;

         
   }
   

  ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         
   }


   svg{
    display: none;
   }

@media screen and (max-width: 768px) {
    .mainnav{
          overflow: hidden;
      display: none;
          max-width: 768px;
    }

   svg {
          display: block; 
          margin: 0 auto; 
          float: right;
    }

}


   html {
    box-sizing: border-box;
    font-size: 75%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  
    @media screen and (min-width: 768px) {
      font-size: 87.5%;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 100%;
    }
  }
  
  
  
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }
  
  
  .aboutbread-imgs{
	display: flex;
	gap: 2rem;
  margin-top:-5rem;
    padding-bottom: 10px;

	justify-content: center;

}
  
  .main-content {
    overflow-x: hidden;
    padding: 10rem 5%;
  }
  
  .article {
    font-size: 1rem;
    margin: auto;

 
  }
  
  .article__title {
    font-size: 1.778em;
    font-weight: normal;
    margin: 0;
    padding-top: 15px;
  }
  

  #shelflife{
    font-weight: 500;
    font-style: bold;

    padding: 1px;
    margin-top: 1em;
    border: none;
    background-color: white;
    color: #555555;

  }

  .article{
    background-color: white;
    max-width: 600px;
    padding:2rem;
  }

  
  .article__section {
  
    margin-top: 2em;
  }
  
  .article__subtitle {
    border-bottom: 1px solid lightgray;
    font-size: 1.333em;
    font-weight: normal;
    padding: 0.2em 0;
  }
  
  .article__list {
    display: table;
    margin-top: 1.5em;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  
  .article__list-item {
    display: flex;
  }
  
  .article__list-item-checked:before{

        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        flex-shrink: 0;
        height: 1.5em;
        margin-right: 0.5em;
        vertical-align: middle;
        width: 1.5em;
      
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M9.86%2018a1%201%200%200%201-.73-.32l-4.86-5.17a1%201%200%201%201%201.46-1.37l4.12%204.39%208.41-9.2a1%201%200%201%201%201.48%201.34l-9.14%2010a1%201%200%200%201-.73.33z%22%20fill%3D%22%2344c08a%22%2F%3E%3C%2Fsvg%3E");
  }
  
  .article__list-item-not-checked:before{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    flex-shrink: 0;
    height: 1.5em;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 1.5em;
  
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M13.41%2012l4.3-4.29a1%201%200%201%200-1.42-1.42L12%2010.59l-4.29-4.3a1%201%200%200%200-1.42%201.42l4.3%204.29-4.3%204.29a1%201%200%200%200%200%201.42%201%201%200%200%200%201.42%200l4.29-4.3%204.29%204.3a1%201%200%200%200%201.42%200%201%201%200%200%200%200-1.42z%22%20fill%3D%22%23f72f47%22%20%2F%3E%3C%2Fsvg%3E");
  }

  .main-content-container{
    position: relative;
        /*max-width: 1265px;
        background: #F6F6F6;*/
        width: 100%;
        --r:100px;
     
         
        padding: var(--r);
        box-sizing: border-box;
        margin: auto;
        display: block;
        height: 980px;
        padding-top: 100px;
        background-image: url(bread-74.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
  }
 


  .recipe-grid {
    width: 1000px;
    position: absolute;
    padding-top: 35rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  
  .grid-item {
    height: 350px;
    box-sizing: border-box;
    position: relative;
    transition: .5s ease;
    opacity: 0.9;
  }
  
  .grid-item:hover {
    box-shadow: 0px 30px 46px -18px rgba(211, 211, 211, 0.6);
  -webkit-box-shadow: 0px 30px 46px -18px rgba(211, 211, 211, 0.6);
  -moz-box-shadow: 0px 30px 46px -18px rgba(211, 211, 211, 0.6);
    margin-top: -10px;
    opacity: 1;
  }

  .grid-item-bg1 {
    background: url(bread-58.jpg) no-repeat center center;
    background-size: 100%;
  }

  .grid-item-bg2 {
    background: url(bread-43.webp) no-repeat center center;
    background-size: 100%;

  }
  
  .grid-item-bg3 {
    background: url(bread-49.jpg)no-repeat center center;
    background-size: 100%;
  }

  #level1,
  #level2,
  #level3{
  color: white;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  border:none;
  }


  #level1{
    background-color: #0b6623;
  }

  #level2{
    background-color: #B87132;
  }

  #level3{
    background-color: #9E0F0F;
  }


  
  .grid-content {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 275px;
    height: 140px;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 15px;
    filter: opacity(90%);
  }
  
  
  
  .grid-content h3 {
    font-size: 18px;
    margin: 0 0 6px;
  }
  
  .grid-content p {
    font-size: 14px;
    margin: 0;
    color:#5f5f5f;
  }
  
 .grid-content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background: black;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: Medium 500;
    transition: .5s ease;
  }
  
  .grid-content a:hover {
    background: #9f865c;
  }

  .recipe h2{
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    padding-top:6rem; 
    font-size:2rem;
  }

  #button2{
    color: black;
    font-size: 14px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 190px;
    height: 41px;
    cursor: pointer;
}

.button2position{
display: grid;
grid-template-columns: 1fr ;
justify-items: center;
padding-top: 40rem;
}
 


.footer{
    font-size: 14px;
    gap: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    line-height: 35px;
   }

   .footer a {
    color: white;
   }

   .footer-container{
    background-color: black;
    height: 400px;
    padding-top: 50px;
    top: 1700px;
    position: absolute;
    margin: 0;
    width:100%;
   }



