:root{
    --body-family: 'Inter';
    font-family: var(--body-family);
   }

   body{
        margin:0;
        width: 100%;
        
   }

   a{
         color: black;
         font-family: var(--body-family);
   }

   h1 h2 h3{
         font-family: "HelveticaNeue";
   }

   #button1{
         color: white;
         font-size: 14px;
         background-color: black;
         border: none;
         border-radius: 5px;
         position: absolute;
         width: 140px;
         height: 41px;
         cursor: pointer;
   }

   #button2{
         color: black;
         font-size: 14px;
         background-color: white;
         border: 1px solid #000000;
         border-radius: 20px;
         width: 190px;
         height: 41px;
         cursor: pointer;
   }

   .button2position{
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
   }


   .logo a{
         padding-right: 390px;
         padding-left: 5px;
         font-family: Helvetica ; 
         font-weight: 700; 
         font-size: 28px; 
         text-decoration: none;
   }

   .navcontainer{
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
   }

   .nav{
         color: black;
         display: inline;     
            
   }

   nav ul{
         display: inline;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right:60px;
         padding-top:30px; 
         padding-bottom: 30px;
         background-color: #ffffff;
         position: fixed; 
         z-index: 99 ;
         width: 100%;
   }

   nav ul li{
         display: inline-block;
         padding: 5px 20px;

         margin: 0;
 
   }

   nav ul li a {
         font-size: 12px;
         text-decoration: none;

         
   }
   

  ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         
   }


   .content-1{
         background-image: url(img/bread-16.jpg);
         background-repeat: no-repeat;
         background-position: center;
         height: 630px;
         left: 83px;
         top: 150px;
         margin: 0;
         padding-top: 100px;
         
   }


   @media screen and (max-width: 1700px){
    .content-1{
          background-image: url(img/bread-25.jpg);
          background-repeat: no-repeat;
          background-position: center;
          width: 100%; 
    }
 }

   .content-1 h1{
    color: white;
    font-family: 'Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    padding-top: 14rem;
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto,10rem)) 1fr;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
  

   }

   .arrow{
    position: relative; 
    display: inline-block;
    border:solid 1px ;
   } 

  /* .image-stack {
   
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
  }
  

   .img-top{
  
         width: 330px;
         height: 220px;
         grid-row: 1;
         grid-column: 3/ -1;
    
         z-index: 1;
         display: block;
 
   }

   .img-bottom{
      
         width: 242px;
         height: 288px;
         grid-column: 4 / -1;
         grid-row: 1;
         display: block;
     
   }*/

   .content-2-container{
    width: 100%;
    background: #FFFFFF;
    height: 400px;
   }

   .content-2{
   display: grid;
   grid-template-columns: 1fr ;
   justify-items: center;
}
       

   .content-2 h2{
    font-size: 50px;
    font-style: bold;
    margin-top: 4rem;  
      position: absolute;
  

   }

   .content-2 h3{
    margin-top: 9rem;   
    font-size: 16px;
    font-weight: 100;
    color: saddlebrown;
     position: absolute;

}

   .content-2 p{
         width: 630px;
         height: 120px;
         text-align: center;
         font-size: 15px;
         line-height: 17px;
         margin-top: 12rem;
         position: absolute;
   }

   .content-2 button{
    position: absolute;
    margin-top: 17rem;
      
      
   }

  
   .content-3 h2{
         position: absolute;
         margin-top: 100px;
   }

   .content-3 p{
         position: absolute;
         width:630px;
         line-height: 20px;
         text-align: center;
         margin-top: 160px;
   }

   .content-3{
    
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
     margin-bottom: -1rem; 

   }

   .card-container{
        
         width: 100%;
         height: 850px;
   
         padding-top: 5px;
         background: #F7F7F7;  
         margin: 0; 
         display: grid;
         grid-template-columns: 1fr repeat(2, minmax(auto, 15rem)) 1fr;
         grid-column: 2/4;
      
   }

   

   .cards{
         /*display: flex;
         justify-content: center;*/
         display: grid;
         grid-template-columns: 1fr repeat(3, minmax(auto,15rem)) 1fr;
         grid-column: 2/4;
         justify-content: center;
         gap: 30px;  
         width: 100%;
         padding-top: 280px;
   }


   .card_image{
      
         object-fit: cover;
         display: block;
         width: 13rem;
   }

   .card{
        background-color: white;  
        height: 25rem;
        width: 13rem;
   }

   .card_content{
         line-height: 1.3;
         font-size: 16px;
         padding:12px;
         background: white;
         font-size: 16px;
         font-family: var(--body-family);   
   }


   .recipe-grid-container{
    max-width: 100%;
    padding-top: 3rem;
    display: grid;
	grid-template-columns: 1fr repeat(2, minmax(auto, 8rem)) 1fr;
    grid-column: 2/4;
    background: white;
}

.recipe-grids{
    gap:3rem;
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto,10rem)) 1fr;
    grid-column: 2/4;
    display: flex;
    justify-content: center;

}

.recipe-grid{
    background-color: white;  
    height: 420px; 
    width:500px;
}

.recipe_content{
margin-top: 15px;;
}

.recipe h2{
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    padding-top:5rem; 
 
}



   #tag{
         font-family: 'Futura';
         font-style: normal;
         font-weight: 500;
         font-size: 10px; 
         color: white;
         background-color: black;  
         padding: 7px; 
         margin-top: 10px; 
   }

  .recipe_content h3{
         font-family: 'Helvetica Neue';
         font-style: normal;
         font-weight: 700;
         font-size: 20px;
         line-height: 24px;
         margin-bottom: 4px;
  }

  .recipe_content p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #858585;
    width: 100px;
  }

  .recipe_image{
         width: 270;
         height: 250px;
         object-fit: cover;
         display: block;
  }

  .content-5-container{
    position: absolute;
    width: 100%;
    height: 1100px;
    top: 2800px;
    background:#F6F6F6;
  }

  .blockquote {
  position: relative;
  font-family: 'Helvetica Neue';
  font-weight: 800;
  color: #ffffff;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  margin: 80px auto;
  align-self: center;
  border-top: solid 2px;
  border-bottom: solid 2px;
}


  .blockquote a{
   position: relative;
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    width: 391px;
    color: black;
  }

  .blockquote:after {
  position: absolute;
  content: "”";
  color: rgba(255, 255, 255, 1);
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}

.section-grids{
   display: grid; 
   align-items: center; 
   justify-items: center; 
   
   gap: 50px;
   padding-top: 50px; 
}
         
         
.section{
   background-color: #ffffff;
   max-width: 800px; 
   display: flex; 
   flex-direction: row;  
   position: relative;
   padding: 5px;;
}


.section_content{
   padding:20px;
   padding-left: 30px;
   max-width: 450px
}

.section_content h3{
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 34px;
}

.section_content p {
   font-size: 14px;

}

.section_content button{
   margin-top: 5px;
}


.takeaction_img{
  
    width: 300px;
    height: 280px;
    object-fit: cover;
  }

  .FAQscontainer {
    display: grid; 
    align-items: center; 
    justify-items: center; 
    gap: 20px;
    padding-top: 20px; 

 
      background-color: white;
      margin-top: 160px;
      
      }
      
      .FAQscontainer h2 {
         text-align: center;
      }
      
      #FAQs-button{
      border: none;
      width: 673px;
      height: 59px;
      background: #F2F2F2;
      margin-bottom: 30px;
    
      font-size: 16px;
      font-weight: 500;
      }
      
        .footer{
          font-size: 14px;
          gap: 80px;
          margin-top: 20px;
          display: flex;
          justify-content: center;
          text-decoration-line: none;
          line-height: 35px;
         }
      
         .footer a {
          color: white;
         }
      
         .footer-container{
          background-color: black;
          height: 400px;
          padding-top: 50px;
          top: 4350px;
          position: absolute;
          margin: 0;
          width:100%;
         }
   
      
  .content-2-1-container{
      position: relative;
      width: 1265px;
      height: 1300px;
      left: 88px;
      top: 90px;
      background: #F6F6F6;
}

.content-2-1-container h1{
position: absolute;
width: 729px;
height: 148px;
left: 120px;
top: 60px;

font-family: 'Baskerville';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 74px;

color: #000000;
}

#h2-2-1{
 position: absolute;
width: 125px;
height: 34px;
left: 120px;
top: 290px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #000000;
}

#p-2-1{
position: absolute;
width: 405px;
height: 312px;
left: 120px;
top: 350px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #000000;
}

#h2-2-2{
position: absolute;
width: 162px;
height: 34px;
left: 120px;
top: 630px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;

color: #000000;
}

#p-2-2{
position: absolute;
width: 412px;
height: 336px;
left: 120px;
top: 690px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #000000;
}

#img-three{
position: absolute;
width: 450px;
height: 310px;
left: 700px;
top: 233px;
margin: 0;
}

#img-four{
position: absolute;
width: 450px;
height: 290px;
left: 700px;
top: 600px;
margin: 0;
}

.card-buttons{
       width : 290px;
   
      height: 129px;
      gap: 20px;  
      padding-top: 1000px;
      padding-left:120px;
      display: flex;  
      width: 1028px; 
      justify-content: space-between;
}

.card-button{ 
 
      background-color: #ffffff;
}

.card-button-content{
      color: #000000;
      padding-top: 6px;
      padding-left: 16px;
      padding-right: 175px;   
}

.card-button-content h3{
font-size: 14px;
width: 120px;
}

#vector1{
     padding-top: 40px;   
}

.socialmedia-container{
 position: absolute;
 width: 1440px;
 height: 625px;
 left: 0px;
 top: 1450px;
 background: #FFFFFF;
}

.socialmedia-container h2{
      position: absolute;
width: 319px;
height: 29px;
left: 562px;
top: 20px;

font-family: "HelveticaNeue";
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;
}



.instgram-box{
      display: flex;
      justify-content: center;
      gap: 15px;
     padding-top:150px;
}


  .AboutUsfooter{
    font-size: 14px;
    gap: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    line-height: 35px;
   }

   .AboutUsfooter a {
    color: white;
   }

   .AboutUsfooter-container{
    background-color: black;
    width: 1440px;
    height: 400px;
    padding-top: 50px;
    top: 2100px;
    position: absolute;
    margin: 0;
   }
