* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all 0.2s ease;
}

:root {
	--color-bg: #f6f6f6;
	--color-accent: #b69c6f;

}

html,
body {
	background: var(--color-primary);
	scroll-behavior: smooth;
}

:root{
    --body-family: 'Inter';
    font-family: var(--body-family);
   }

   body{
        margin:0;
        width: 100%;
        
   }

   a{
         color: black;
         font-family: var(--body-family);
   }

   h1 h2 h3{
         font-family: "HelveticaNeue";
   }

   #button1{
         color: white;
         font-size: 14px;
         background-color: black;
         border: none;
         border-radius: 5px;
         position: absolute;
         width: 140px;
         height: 41px;
         cursor: pointer;
   }

   #button2{
         color: black;
         font-size: 14px;
         background-color: white;
         border: 1px solid #000000;
         border-radius: 20px;
         width: 190px;
         height: 41px;
         cursor: pointer;
   }

   .button2position{
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
   }


   .logo a{
         padding-right: 390px;
         padding-left: 5px;
         font-family: Helvetica ; 
         font-weight: 700; 
         font-size: 28px; 
         text-decoration: none;
   }

   .navcontainer{
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
   }

   .nav{
         color: black;
         display: inline;     
            
   }

   nav ul{
         display: inline;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right:60px;
         padding-top:30px; 
         padding-bottom: 30px;
         background-color: #ffffff;
         position: fixed; 
         z-index: 99 ;
         width: 100%;
		 margin-top: -10px;
   }

   nav ul li{
         display: inline-block;
         padding: 5px 20px;

         margin: 0;
 
   }

   nav ul li a {
         font-size: 12px;
         text-decoration: none;

         
   }
   

  ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         
   }

   svg{
	display: none;
   }

@media screen and (max-width: 768px) {
	.mainnav{
		  overflow: hidden;
	  display: none;
		  max-width: 768px;
	}

   svg {
		  display: block; 
		  margin: 0 auto; 
		  float: right;
	}

}


.recipe-imgs{
	display: flex;
	gap: 2.9rem;
	padding-top: 1.5rem;
	float: right;
	gap:1rem;
	
	
}

.recipehead{
	display:flex;
}




section h1 {
	font-family: "Playfair Display", serif;
	font-size: 56px;
	line-height: 110%;
	align-items: center;
	flex: 2;
	display: flex;
	position: relative;
	padding-right: 80px;
    padding-top: 50px;
	text-decoration: underline solid #b69c6f 5px;
}

section h1:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 6px;
	background: var(--color-primary);
	bottom: 0;
}


section#recipe {
	background: var(--color-bg);
	color: var(--color-primary);
	font-family: "Inter";
	font-size: 16px;
	line-height: 160%;
}

section#recipe .overview {
	border: 1px solid red;
	width: 100%;
}

section#recipe .description {
	width: 100%;
	font-size: 12px;
	line-height: 140%;
	font-style: light;
}



section#recipe .recipe_details {
	width: 100%;
	padding-top: 20px;
}

section#recipe {
	padding: 80px;
}

section#recipe h1 {
	padding-bottom: 16px;
}

section#recipe .recipe_details ul {
	list-style: none;
	background: black;
	color: var(--color-accent);
	display: flex;
	padding: 24px 0;
}

section#recipe .recipe_details ul li {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	font-style: italic;
}

section#recipe .recipe_details ul li span,
section#recipe .recipe-content > div > h2 {
	font-family: "Lato", serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: normal;
}

section#recipe .recipe-content {
	width: 100%;
	display: flex;
	margin-top: 56px;
}

section#recipe .recipe-content > div {
	width: 50%;
}

section#recipe .recipe-content > div > h2 {
	margin-bottom: 32px;
}

section#recipe .recipe-content .ing-list {
	padding-right: 56px;
	display: flex;
	flex-direction: column;
}

section#recipe .recipe-content .recipe-list {
	padding-left: 56px;
}

section#recipe .recipe-content > div > h2 {
	font-weight: 900;
}

section#recipe .recipe-content > div:first-of-type {
	border-right: 1px solid rgb(185, 185, 185);
}

section#recipe .recipe-content .ingredients {
	margin-bottom: 24px;
}

section#recipe .recipe-content .ing-list figure img {
	width: 100%;
}

section#recipe .recipe-content .ing-list figure {
	width: 100%;
	flex: 1;
	position: relative;
}

section#recipe .recipe-content .ing-list figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}

p.variation {
	font-size: 16px;
	margin-bottom: 48px;
}

p.variation span {
	font-family: "Lato", serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-style: normal;
}

ol {
	list-style: none;
	counter-reset: counter;
	margin: 0;
	padding: 0;
	margin-left: 40px;
}

ol > li {
	counter-increment: counter;
	margin-bottom: 16px;
	width: 100%;
	position: relative;
}

ol > li::before {
	content: counter(counter) ".";
	font-weight: 600;
	font-size: 28px;
	line-height: 1rem;
	color: var(--color-accent);
	font-family: "Playfair Display", serif;
	/*    border: 1px solid green;*/
	min-width: 48px;
	max-width: 48px;
	position: absolute;
	margin-left: -64px;
	text-align: right;
}

ol > li > ul {
	margin-left: 24px;
	list-style-type: square;
	margin-top: 16px;
}

ol > li > ul > li {
	margin-bottom: 8px;
}

.container {
	display: block;
	position: relative;
	padding-left: 32px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	display: none;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: transparent;
	border: 2px solid black;
	margin-top: 8px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "\2713";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	background: black;
	font-size: 12px;
	line-height: 12px;
	width: 12px;
	height: 12px;
	text-align: center;
	color: var(--color-bg);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

	nav ul{
		margin-top: -24px;
  }

	section {
		width: calc(100% - 48px);
		height: calc(100% - 48px);
		min-height: calc(100vh - 48px);
		margin: 24px auto;
	}

	section#recipe {
		padding: 56px 40px;
	}

	section#cover .content {
		width: calc(100% - 80px);
	}

	section h1 {
		font-size: 40px;
		padding: 0 32px;
	}

	section#recipe h1 {
		padding: 70px 0 56px 0;
	}

	.recipe-imgs{
		display: grid;
		gap: 2rem;
		padding-top: 1.5rem;
		
	}

	section#cover .content span {
		font-size: 22px;
		padding: 0 32px;
	}

	section#recipe .recipe-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 56px;
	}

	section#recipe .recipe-content > div {
		width: 100%;
	}

	section#recipe .recipe-content > div:first-of-type {
		border-right: none;
		border-bottom: 6px solid black;
	}

	section#recipe .recipe-content .ing-list {
		padding-right: 0;
		padding-bottom: 56px;
	}

	section#recipe .recipe-content .recipe-list {
		padding-left: 0;
		padding-top: 56px;
	}

	section#recipe .recipe_details ul {
		background: var(--color-primary);
		display: flex;
		flex-wrap: wrap;
		padding: 24px 0;
		background-color: #000000;
	}

	section#recipe .recipe_details ul li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-width: 50%;
		padding: 24px;
	}
}

.video_container{
	overflow:hidden;
    position: relative;
	object-fit: fill;
}

.footer{
    font-size: 14px;
    gap: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    line-height: 35px;
   }

   .footer a {
    color: white;
   }

   .footer-container{
    background-color: black;
    height: 400px;
    padding-top: 50px;
    top: 1700px;
    position: absolute;
    margin: 0;
    width:100%;
   }
